@keyframes qwq {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.previewImage {
	animation-name: qwq;
	animation-duration: 3s;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}